<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- load the aspnetcore plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target name="datafork-file" xsi:type="File" fileName="nlog-dataforkAPI-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target name="blackhole" xsi:type="null" />
    <target name="aspnet-file" xsi:type="File" fileName="nlog-dataforkASP-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target name="entityframework-file" xsi:type="File" fileName="nlog-dataforkEFC-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />  
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.*" minLevel="Trace" writeTo="aspnet-file" />
    <logger name="Microsoft.EntityFrameworkCore.*" minLevel="Trace" writeTo="entityframework-file" />
    <logger name="DataFork.*" minlevel="Info" writeTo="datafork-file" />
  </rules>
</nlog>
